{% load static %}
<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Outros - Gestão</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
</head>
<body>

    {% if messages %}
        <div class="mensagens-alerta">
            {% for message in messages %}
                <div class="alerta {{ message.tags }}">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="dashboard-container">
        <header class="glass-header">
            <div class="user-info">
                <div class="avatar-small">
                    <i class="fas fa-th-large"></i>
                </div>
                <div>
                    <h2>Outros</h2>
                    <h3>Operadores Extra</h3>
                </div>
            </div>

            <a href="{% url 'home_admin' %}" class="btn-sair">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
        </header>

        <div class="menu-grid">

            <a href="{% url 'adicionar_dador' %}" class="card-opcao">
                <i class="fas fa-user-plus"></i>
                <span>Adicionar Dador</span>
            </a>

            <a href="{% url 'adicionar_doacao' %}" class="card-opcao">
                <i class="fas fa-hand-holding-heart"></i>
                <span>Adicionar Doação</span>
            </a>

            <a href="{% url 'fazer_pedido' %}" class="card-opcao">
                <i class="fas fa-plus-circle"></i>
                <span>Fazer Pedido</span>
            </a>

            <a href="{% url 'listar_dadores' %}" class="card-opcao">
                <i class="fas fa-address-book"></i>
                <span>Consultar Dadores</span>
            </a>

            <a href="{% url 'procurar_dador' %}" class="card-opcao">
                <i class="fas fa-search"></i>
                <span>Procurar Dador</span>
            </a>

            <a href="{% url 'selecionar_dador_para_atualizar' %}" class="card-opcao">
                <i class="fas fa-user-pen"></i>
                <span>Atualizar Dador</span>
            </a>

            <a href="{% url 'ativar_desativar_dador' %}" class="card-opcao">
                <i class="fas fa-user-pen"></i>
                <span>Ativar/Desativar Dador</span>
            </a>

        </div>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>